{% extends "base.html" %}
{% load static %}


    {% block title %}Bienvenido al CorpoChat{% endblock %}
    
 
    {% block content%}
    <div class="main-content">
      <div class="welcome-container">
        <h1>Bienvenido al chat de documentacion de Corpomedica</h1>
        <p style="text-align: left;">
Esta aplicación ha sido diseñada para ofrecerte un acceso rápido y seguro a toda la información clave de nuestra empresa. Podrás consultar fácilmente documentos corporativos, fichas técnicas, manuales de usuario y servicio para nuestros dispositivos y equipos médicos, todo desde un solo lugar.
<br>
<br>
<strong>Funcionalidades Principales:</strong>
<br>
<br>

<strong>Cargue y Gestión de Documentos:</strong>
 Organiza y visualiza tus documentos importantes, asegurando un fácil acceso y una referencia centralizada.<br>
    <strong>Consultas Inteligentes con IA:</strong>
 Aprovecha la tecnología de inteligencia artificial de ChatGPT-4 y modelos de lenguaje avanzados para resolver tus dudas y obtener respuestas rápidas y precisas en tiempo real.<br>
    <strong>Publicaciones en el Blog de Consultas:</strong>
 Comparte y consulta información relevante en nuestro blog corporativo, donde podrás encontrar y postear temas clave para enriquecer tus conocimientos y apoyo en la toma de decisiones.
    <br>
    <strong>Chat Directo con ChatGPT-4:</strong>
 Interactúa directamente con nuestra IA para resolver dudas específicas, obtener información detallada o asistencia técnica de manera instantánea.<br>
<br>

Esta herramienta está pensada para optimizar tus procesos de consulta y documentación, permitiéndote enfocarte en lo que realmente importa. ¡Bienvenido a una experiencia de soporte ágil y eficiente!        </p>
        <!-- <a href="login" class="btn">Ingresa aquí</a> -->
      </div>
    </div>
    {% endblock %}
