{% extends "base.html" %}
{% load static %}


    {% block title %}Bienvenido al CorpoChat{% endblock %}
    
 
    {% block content%}
    <div class="main-content">
      <div class="welcome-container">
        <h1>Bienvenido al chat de documentacion de Corpomedica</h1>
        <p>
          Esta aplicación proporciona información rápida sobre los documentos de
          la empresa, fichas técnicas, manuales de usuario y manuales de
          servicio de nuestros dispositivos y equipos medicos.
          Tambien tienes la posibilidad de chatear directamente con chatgpt4
        </p>
        <!-- <a href="login" class="btn">Ingresa aquí</a> -->
      </div>
    </div>
    {% endblock %}
